<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ngx-ui-loader
  bgsColor="#08725D"
  bgsPosition="bottom-right"
  bgsType="ball-spin-clockwise"
  blur=10
  delay="0"
  fastFadeOut="true"
  fgsColor="#08725D"
  fgsPosition="center-center"
  fgsType="ball-spin-clockwise"
  logoPosition="bottom-right"
  masterLoaderId="master"
  overlayBorderRadius="0"
  overlayColor="rgba(0,0,0,0.15)"
  pbColor="#08725D"
  pbDirection="ltr"
  textColor="#FFFFFF"
  textPosition="center-center"
  maxTime="-1"
  minTime="300"
></ngx-ui-loader>