.w-100 {
  width: 100%;
}

.capture-button-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  button {
    width: 90%;
    padding: 2rem !important;
    margin: .7rem;
    border-radius: none;
  }
  // img {
  //   width: 60%;
  // }
}

textarea.container {
    border: none;
    width: 100%;
    height: calc(95vh - 10rem);
    text-align: center;
}

.preview-screen {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .controls {
    height: 10rem;
  }
}